[2020-08-19 17:09] Dev-Manny opened #4 "Error: While trying to resolve module `flutterwave-react-native`"
However, this package itself specifies a `main` module field that could not be resolved (`../node_modules/flutterwave-react-native/dist/index.js`. Indeed, none of these files exist:

refactor: remove dist folder
https://github.com/Flutterwave/flutterwave-react-native/commit/6c7307a55109af067637e64c7f7585523f73d32c

[2020-08-23 22:41] frank505 opened #5 "the cancel payement button seems not to work well when you try to close the webview modal"
I noticed that once i click the cancel payement text at the bottom of the modal  it doesnt close the modal , rather it freezes the modal and nothing on the modal works including the input fields sometimes if i click the cancel button it closes the app too, although i must say that i only noticed this behaviour on IOS

[2020-08-28 08:56] thecodecafe commented on #5
Thanks, @frank505 will test this to see what's causing this behaviour.

[2020-08-28 08:57] thecodecafe commented on #5
Reopended

[2020-08-28 15:19] frank505 commented on #5
**" Although will need to know, does tapping on the cancel button display an alert asking you to confirm the action?"** on android yes it does but on IOS it doesnt, it just closes the app

[2020-09-02 02:11] kenny-io commented on #5
@thecodecafe

[2020-09-02 07:54] thecodecafe commented on #5
Hi @frank505, I have not been able to reproduce this behaviour can, you share your implementation or an example repo I can test with? I have tried on several simulators(iPhone 8, 11, and 11 Pro) and they all worked correctly. Sharing your code/implementation will be helpful, thanks!

[2020-09-02 14:34] frank505 commented on #5
i will do just this once i get back home, create a new repo and use my implementation , thanks so much i appreciate :)

[2020-09-04 15:50] dammyson opened #6 "onRedirect is required but not specified on the readme"
<PayWithFlutterwave
        onComplete={this.onSuccess()}
        onRedirect={(params)=>this.onRedirect(params)}

      />

[2020-09-06 12:07] thecodecafe commented on #6
Hi @dammyson, thanks for pointing that out, we've made the necessary adjustments to the docs to reflect the required `onRedirect` prop, you also don't need the `onComplete` prop anymore that has been removed in favour of `onRedirect`.
I Will be closing this issue now as it's been resolved, thanks!

[2020-09-06 12:07] #6 closed

[2020-09-10 09:13] frank505 commented on #5
here is my implementation :

[code]

[2020-09-11 09:27] thecodecafe commented on #5
Seen @frank505 will test this and revert as soon as I can with a solution.

[2020-09-12 01:29] frank505 commented on #5
would appreciate :) thanks

[2020-09-15 01:18] EzenwakaKaycee opened #7 "It shows blank white screen"
The payment modal shows blank white screen

[2020-09-15 13:11] simdanonline opened #8 "onRedirect function is called twice"
After a successful payment the onRedirect function is called twice

[2020-09-15 13:13] thecodecafe commented on #7
Hi @EzenwakaKaycee can you share your implementation? That can help!

[2020-09-15 13:13] thecodecafe commented on #8
Thanks, @simdanonline can you share your implementation?

[2020-09-15 13:20] thecodecafe commented on #5
Hi @frank505 I can't seem to replicate this behaviour, what device(and model) are you testing on?

[2020-09-15 13:21] simdanonline commented on #8
`                     <PayWithFlutterwave
                        onRedirect={onSuccess}
                        options={{
                            tx_ref: Date.parse(new Date()).toString(),
                            authorization: 'FLWSECK_TEST-0234567890987654313-X',
                            customer: {
                            email: user.email
                            },

[2020-09-15 13:30] thecodecafe commented on #8
Hi, @simdanonline I'm not getting this behaviour can you share the code for the method/function `onSuccess`? That may be from where your code is executing twice, another cause could be that you're using React Hooks in a function component and not correctly implementing them, but let's start with the codebase for `onSuccess` function.

[2020-09-15 13:39] simdanonline commented on #8
**This is the entire component file,**

`   import React, {useState, useContext} from 'react'
    import { View, Text, TouchableOpacity, ActivityIndicator } from 'react-native'
    import { Label, Card, Toast } from 'native-base'
    import { Input } from 'react-native-elements'
    import Colors from '../../../constants/Colors'
    import { navigate } from '../../../navigation/RootNavigation'

[2020-09-16 01:56] frank505 commented on #5
i am testing on an IOS simulator running xcode 11.6 and an iphone 7 too...although i thought of creating a brand new project and adding only flutterwave as the dependency then building for IOS to see if i still see the same behaviour, if i dont then it may be something breaking the app when i hit the close button

[2020-09-16 11:24] Abdoulrasheed opened #9 "Does this work with expo ?"
How do I go about the [Activity Indicator ](https://github.com/Flutterwave/flutterwave-react-native#activity-indicator-only-needed-for-android) config section without ejecting from expo ?

[2020-09-23 14:25] thecodecafe commented on #9
@Abdoulrasheed will test but I think GIF works out of the box for Expo.

[2020-09-23 23:43] Dev-Manny commented on #7
`<PayWithFlutterwave
        onRedirect={this.onRedirect}
        options={{
          tx_ref: transactionId,
          authorization: "",
          customer: {
            email: user.email,
          },
          amount: parseFloat(amount),
          currency: "NGN",
          payment_options: "card",
        }}
        customButton={() => (
          <TouchableOpacity
            style={styles.

[2020-09-26 14:10] simdanonline commented on #8
Hello ?

[2020-10-05 12:00] thecodecafe commented on #8
Hi @simdanonline, I tested your code and it works correctly, I will be closing this issue for now as this does not seem to be an issue with the library, feel free to open this anytime if your findings point to the library as the source of your problem.

In the meantime, you can debounce the redirect handler so that the second call cancels the execution of the first before it happens, you might als

[2020-10-05 12:00] #8 closed

[2020-10-13 16:07] harrybanda opened #10 "ZMW not included in the currency"
I have noticed that Zambian currency (ZMW) is not included in this project. What currency should we use?

[2020-10-13 19:36] thecodecafe commented on #10
Hi @harrybanda, we do support `ZMW`, we'll have that added to the next build but for now please ignore the prop types validation. I Will be closing this but feel free to reopen if you this issue persists.

[2020-10-13 19:37] thecodecafe commented on #5
Hi @frank505, did the fresh React Native project behave the same way?

[2020-10-13 20:38] frank505 commented on #5
oh boi! should have closed this issue, i simply reinstalled all my dependencies and it worked. :) thanks

[2020-10-13 20:39] #5 closed

[2020-11-10 20:45] edwinsmasher opened #12 "Screen Flickering"
Am using Expo and the screen flickers alot while making payment..Any solutions?

[2020-11-10 21:15] thecodecafe commented on #12
Hi @edwinsmasher sorry to hear that, can you help out with three things?
1. Try it on a physical device.
2. Try a fresh expo project and see if you get the same result.
3. If you do try and do a screen recording demo.
Let me know if you're able to do these things, and what the results are, thanks!

[2020-12-09 14:14] the22mastermind opened #13 "Curreny warning and modal takes long to pop up"
**Issues**
1. I am getting the following warning when the component mounts:
`Warning: Failed prop type: Invalid prop `options.currency` of value `RWF` supplied to `PayWithFlutterwave`, expected one of ["GBP","NGN","USD","GHS","KES","ZAR","TZS"].
    in PayWithFlutterwave (at App.js:21)`

2. The modal takes long to pop up (about 6 seconds).
Is this the normal behaviour? I would prefer to have it po

[2020-12-10 08:57] Corvus97 commented on #13
Hello @the22mastermind ,

Thank you for bringing this to our attention.

Kindly be informed that the team has deployed a bug fix to address the issue raised. Please update your npm package and retry the charge.

Regards,
Cornelius from Flutterwave

[2020-12-10 08:57] #13 closed

[2020-12-14 13:44] the22mastermind commented on #13
Hi @Corvus97 ,

Thank you for the prompt response. I updated the package and  everything is working okay now.

[2020-12-23 08:57] casprine commented on #4
@thecodecafe I'm on the latest version but this issue still happens

[2021-01-15 10:08] EllaU opened #15 "Error inavlid webpage"
Hi Im using PayWithFlutterwave , now when my transaction is either succesful or cancelled i get this error message on the modal 'Webpage not available' error :invalid redirect.My onRedirect prop works just fine but it executes like 30 seconds after the error message.  Ive included redirect_url option to it but it still pops the error. Please help me. I need the error message out completely please!

[2021-01-15 12:15] thecodecafe commented on #15
Hi @EllaU, please can you please help with these two things?
1. Can you confirm you're using the most recent version of this library? The library does not use the redirect URL you provide.
2. Can you share your implementation of the PayWithFlutterwave component?
Thanks.

[2021-01-15 12:16] thecodecafe commented on #9
Hi @Abdoulrasheed please I've been quite occupied and lost track of this, can you confirm if you've been able to resolve this?

[2021-01-15 12:17] thecodecafe commented on #12
Hi @edwinsmasher please can you confirm if you're still experiencing this?

[2021-01-15 12:18] thecodecafe commented on #7
Hi, @EzenwakaKaycee and @Dev-Manny are you both still experiencing this?

[2021-01-16 16:05] EllaU commented on #15
"flutterwave-react-native": "^1.0.2", thats the version

 <PayWithFlutterwave
                    style={{marginTop:'5%',borderRadius:10,alignSelf:'center',flexDirection:'row',height:hp('7%'),width:wp('70%')}}
                    onRedirect={handleRedirect}
                    onAbort={()=>navigation.navigate('Register5')}

                    options={{
                      tx_ref: (currentDate+

[2021-01-17 17:02] Abdoulrasheed commented on #9
I couldn't use the library but I was able to integrate and receive payments via webview.

[2021-01-17 17:02] #9 closed

[2021-01-18 08:13] thecodecafe commented on #15
Hi, @EllaU I've tried using your implementation and it works correctly even with your key, I just saw your update about the delay in execution after redirect.

Here's the thing internally the redirect URL goes to a page that does not exist on our domain, that's why you're seeing the error message on a successful or cancelled transaction, we might look into creating a webpage that does not show tha

[2021-01-19 11:11] EllaU commented on #15
Thanks so much for the code ive changed to a class component , I appreciate .
But for now my main issue is still this webpage error showing after succesful or cancelled transaction .Here's a picture

![error](https://user-images.githubusercontent.com/46875374/105026902-f498fa00-5a03-11eb-9d5e-917dba1d80d0.jpg)

[2021-01-19 14:08] thecodecafe commented on #15
Hi @EllaU all right, working on a fix for this, are you using Expo?

[2021-01-19 15:22] EllaU commented on #15
Thanks so much, No I'm not . Im using React Native CLI

[2021-01-22 10:37] EllaU commented on #15
Hi, sorry ...any update yet?

[2021-01-22 10:45] thecodecafe commented on #15
Hello @EllaU please try installing from the branch for this fix and let me know if it works.
Use the command below to install.
[code]
Let me know how if it fixes it for you.

[2021-01-25 09:49] EllaU commented on #15
Thanks soooo muchhhh!!, The error page is out . Finally! Thank you.

[2021-01-25 11:10] thecodecafe commented on #15
Awesome @EllaU, I've made a PR regarding this and will soon be deployed so you can install it directly from npm.
I'll be closing this now issue now.
Thanks!

[2021-01-25 11:10] #15 closed

[2021-02-08 14:23] Akola-Mbey-Denis opened #17 "Flutterwave payment webview screen does not close when close button is pressed"
I have been trying to process flutter-wave transaction in react native using  PayWithFlutterWave component in flutterwave-react-native.However,after the OTP verification step, and entering my momo pin,I wanted to close the Flutterwave payment modal by tapping on the close button at the top right corner of the flutterwave  payment screen. Tapping the close button does not close the modal. It show t

[2021-03-04 13:14] bjorndonald opened #18 "Make the payment open on function rather by clicking a predifined button"
Could we try having the payment screen open when we run a function rather than through a predefined button

[2021-03-15 10:38] therealgemjosh opened #19 "Require Recycling Error Logs"
I keep getting this error message whenever i click on the payment button. It does work but still i get this error | warning logs on my screen. Pls any suggestion on a quick fix to this?

![Screenshot 2021-03-15 033416](https://user-images.githubusercontent.com/40360041/111140449-925e0080-853f-11eb-8fa0-2a8dd72fbf68.png)
![Screenshot 2021-03-15 033944](https://user-images.githubusercontent.com/4036

[2021-03-15 14:28] gems-inc opened #20 "Redirect callback on payment cancellation"
How do I get rid of the heroku-app redirect callback when I cancel my payment. I try fixing with the "onAbort" method but still will not work
![Screenshot_20210315-152704](https://user-images.githubusercontent.com/79230501/111169320-2319f800-85a3-11eb-800d-b5d7f194b030.png)

[2021-03-15 15:05] thecodecafe commented on #18
Hi, @bjorndonald yes this is possible, can you share your use case so I can better understand what you are trying to achieve? Maybe some code implementation with brevity and also avoid sharing your public keys here.

[2021-03-15 15:16] thecodecafe commented on #19
Hi @therealgemjosh, unfortunately, there's no way to keep this from happening because of the dependency on `fetch` and `abortcontroller-polyfill` this polyfill helps us abort fetch requests. They kind of reference one another that's why the warning, but this does not impact performance and is supported. However, if you still want to keep the error from showing, simply add `console.ignoredYellowBox

[2021-03-15 15:27] thecodecafe commented on #20
Hell @gems-inc, unfortunately, on Android the default title for an alert called in a WebView is the URL of the page that was loaded in the WebView. The checkout page is loaded in a WebView, and the "Cancel Payment" button triggers an alert on that page, and we don't have control over the content of the title.
Although we're still looking for a workaround, there's no solution to this at the moment,

[2021-03-15 15:27] #20 closed

[2021-03-15 15:30] thecodecafe commented on #17
Hi @Akola-Mbey-Denis, there appears to be no button on the top right corner of the page, can you share a state in which the button on the top right shows? Also, are you saying that when you tap on the close button it loads nonstop as shown on your attached image?

[2021-03-15 15:32] thecodecafe commented on #7
Closing this for now as there's been no feedback from the OP, please feel free to open if the issue persists.

[2021-03-15 15:32] #7 closed

[2021-03-15 19:28] therealgemjosh commented on #19
I did add the code snippet above to my index.js but still the warning persist. this is really going to be bad in production base application IMO

[2021-03-15 21:11] Akola-Mbey-Denis commented on #17
Thanks,I increase the view height of the web view and I was able to close the button.

[2021-03-15 21:13] Akola-Mbey-Denis opened #21 "Changig currency option to GHS and payment _options to Card,does display card payment webview. I keep seeing Mobile MOney webview screen"
I have another issue now,when I change the payment options to Card and currency to GHS, I expect to be presented with web view for card payment,but it still  shows a web view for mobile money payment. Kindly help to fix out.

[2021-03-16 07:35] thecodecafe commented on #17
All right @Akola-Mbey-Denis will be closing this now, but feel free to reopen anytime you experience this again.

[2021-03-16 07:35] #17 closed

[2021-03-16 07:49] thecodecafe commented on #21
Hi @Akola-Mbey-Denis, I just tried and the only time mobile money with GHS was forced was when I enabled dashboard payment options from the dashboard app from the Account tab in settings.
Please log into the dashboard at http://dashboard.flutterwave.com and navigate to Settings > Account Settings and scroll to the `Enable Dashboard Payment Options` setting and if it is selected make sure you have

[2021-03-16 07:51] thecodecafe commented on #19
All right @therealgemjosh glad your issue is solved, will be closing this for now.

[2021-03-16 07:51] #19 closed

[2021-03-16 08:03] bjorndonald commented on #18
This is generally similar to paystack but it will still be a big help
`import {Flutterwave} from 'flutterwave-react-native';

Flutterwave.init({ publicKey: 'pk_key_here' });

Flutterwave.chargeCard({
                    cardNumber: "424242424242",
                    expiryMonth: "09",
                    expiryYear: "21",
                    cvc: "222",
                    tx_ref: "transaction re

[2021-03-16 10:00] Akola-Mbey-Denis commented on #21
Thank you.It is working fine now.

[2021-04-22 15:30] danielolamide opened #22 "val.replace is not a function"
This error pops up when using `payment_method : 'mpesa'` and the pay button is clicked.
<img width="319" alt="Screenshot 2021-04-22 at 17 59 27" src="https://user-images.githubusercontent.com/29626957/115741896-d511c480-a398-11eb-9faa-33a39eaca74e.png">

[2021-04-27 11:04] Akola-Mbey-Denis opened #23 "Problem enabling bank transfer"
Hello team,
I have being trying to activate bank transfer payment options  for sometime now But,I am not able to see that options as a part of my payment methods.
 I tried activating that option using **payment_options: 'banktransfer**' in react native PayWithFlutterwave component,but it has worked out. Kindly help to resolve this for me.
Thanks,

[2021-04-27 17:34] Kingswhale opened #24 "onRedirect function is called twice"
Kindly help me with this

<PayWithFlutterwave
              onRedirect={this.onsuccess}
              options={{
                tx_ref: Date.parse(new Date()).toString(),
                authorization: PUBLICKEY_FLUTTER,
                customer: {
                  email: email.toString(),
                  phonenumber: phoneNumber.toString(),
                  name: userName.toString(),

[2021-04-28 10:43] thecodecafe commented on #21
Great, I'll be closing this issue now, feel free to reopen if this comes up again in the future.

[2021-04-28 10:43] #21 closed

[2021-04-28 11:48] thecodecafe commented on #24
Hello @Kingswhale, so sorry you're experiencing this, but I've been unable to reproduce from my end. Here's a trick you apply for now to resolve this on your end.
Debounce the redirect handler so that it only fires once, see the example below.

[code]
Please try this out and let me know if it solves your problem.
Thanks.

[2021-04-28 11:52] thecodecafe commented on #23
Hello, @Akola-Mbey-Denis seems to be the same problem with [this issue](https://github.com/Flutterwave/flutterwave-react-native/issues/21#issuecomment-800035654), you will need to go into your dashboard and uncheck dashboard payment options if you want to determine payment options from payment initialisation.
Please let me know if this solves your problem.
Thanks.

[2021-04-28 11:53] thecodecafe commented on #22
Hello, @danielolamide are you still experiencing this?

[2021-04-28 12:14] thecodecafe commented on #18
Hello @bjorndonald, sorry for catching up on this late, this library only provides access to loading Flutterwave's checkout within your app, we currently don't have a library that allows react-native apps to connect to the API directly. Please I will be closing this issue for now since the issue is out of the library's scope.
Thanks.

[2021-04-28 12:15] thecodecafe commented on #18
Hello @bjorndonald, sorry for catching up on this late, this library only provides access to loading Flutterwave's checkout within your app, we currently don't have a library that allows react-native apps to connect to the API directly. Please I will be closing this issue for now since the issue is out of the library's scope.
Thanks.

[2021-04-28 12:15] #18 closed

[2021-04-28 13:18] danielolamide commented on #22
I haven't given it a shot since I posted this issue. Let me try it out.

[2021-05-07 10:15] jacquesikot opened #25 "PayWithFlutterwave does not work with expo"
I'm trying to use this module on a react native expo managed workflow app and it doesn't seem to be working. The button is rendered properly, but when it is pressed, it blurs for a while, in some loading state but doesn't open the webview, after a few seconds it returns to normal and nothing happens, no errors or response.

[2021-05-09 18:34] danielolamide commented on #22
@thecodecafe It's still an issue I'm using test credentials

[2021-05-17 21:27] danielolamide commented on #22
@thecodecafe any update on what the issue could be?

[2021-05-19 14:13] thecodecafe commented on #22
Hello @danielolamide this is being looked into, will have feedback for you as soon as I can.

[2021-05-19 14:41] thecodecafe commented on #25
Hello @jacquesikot apologies for the delayed response, please can you confirm you already had [react-native-webview](https://www.npmjs.com/package/react-native-webview) installed? Also, can you share your implementation(remove your public key)?

[2021-05-20 00:56] phoward38 commented on #25
The package worked previously for me, but now the modal opens & shows `invalid link`

[2021-05-20 08:48] thecodecafe commented on #25
Hi @phoward38 all right, this is being looked into, will feedback here as I receive updates.

[2021-05-25 13:35] thecodecafe commented on #22
Hi @danielolamide this seems to work fine on my end right now, can you try again? If you get the same error, please share your implementation, remember to remove your keys.

[2021-05-25 13:36] thecodecafe commented on #24
This will be closed, please feel free to reopen if the proposed solution above does not suffice.

[2021-05-25 13:36] #24 closed

[2021-05-25 13:37] thecodecafe commented on #25
Hi @phoward38 this issue you mentioned has been resolved please try again.

[2021-05-25 13:38] thecodecafe commented on #23
Hello @Akola-Mbey-Denis, I'll be closing this, for now, feel free to reopen it if the proposed solution above does not suffice.

[2021-05-25 13:38] #23 closed

[2021-05-26 07:35] joegichuru opened #26 "Webview Issues"
` Invariant Violation: Tried to register two views with the same name RNCWebView
[Wed May 26 2021 10:32:04.720]  ERROR    Invariant Violation: Module AppRegistry is not a registered callable module (calling runApplication`

I think making react-native-webview a peer dependency will solve the issue in the case you explicitly have react-native-webview installed.

[2021-05-26 07:36] joegichuru commented on #26
In my case, i had a specific version of  react-native-webview pre installed

[2021-05-26 10:50] danielolamide commented on #22
I've not gotten that error. Now it says the payment is currently not available. **NB: I've updated the required documentation for my account**

[2021-06-28 12:08] GQuantrill opened #28 "CORS issue"
Hello,

I'm integrating the flutterwave-react-native library as part of Adalo app builder.  Essentially, you make plugins for the app using reactive native.

When I attempt to use the FlutterwaveInit, the connection is request but there are options associated to the HTTP call.
How do we deal with these?

`Access to fetch at 'https://api.flutterwave.com/v3/sdkcheckout/payments' from origin 'https:/

[2021-07-06 11:15] hirwablessing opened #30 "Can't find definition of transactionReference and handleOnRedirect functions in PayWithFlutterwave component"
I checked the whole SDK and even contacted the support team but couldn't find those functions definitions for `transactionReference ` and `handleOnRedirect ` used in the `PayWithFlutterwave` component.

[2021-07-06 14:36] BtMwanza opened #32 "Could you provide a working sample code that archives what's displayed on the gif?"
I have looked at this repository for weeks and I still can't make the payment work due to some missing parts of the code, like the `handleOnRedirect` function. It would be easier if a working code sample is provided.

[2021-07-10 16:52] Jaybee4real commented on #8
I'm facing this same issue, was it resolved?

[2021-07-11 11:13] thecodecafe commented on #8
Hi @Jaybee4real @simdanonline, we've not been able to reproduce but will take another look at this, for the time being, try debouncing your `onRedirect` handler, will run some more tests within the week to try and reproduce.

[2021-07-11 15:31] thecodecafe commented on #32
Hi @BtMwanza, sorry to hear you're having a hard time with the docs, we'll definitely work on improving it.

To display a payment button you can use the following.
[https://github.com/Flutterwave/flutterwave-react-native#paywithflutterwave](https://github.com/Flutterwave/flutterwave-react-native#paywithflutterwave)

Here's an example of what the `handleOnRedirect` function will receive.
[https://g

[2021-08-13 15:25] Blac-Panda opened #33 "We could not charge this card. Reason: val.replace is not a function"
According to the Readme line 303, FlutterWaveInitOptions, meta value can receive an array of objects. But passing an array of objects makes it throw the error "We could not charge this card. Reason: val.replace is not a function".
To avoid the error,  I had to pass one meta value (object), not an array.

[2021-08-24 19:40] Obhenimen opened #34 "Payment does not initialize for some phones in production mode"
Thanks for this payment platform.
The payment failed to initialize on Royale lite 2, android version 7 with the app in production mode. I was able to make payment successfully with other phones. Except for the Royale lite 2

[2021-09-04 10:04] Akola-Mbey-Denis opened #35 "Issues using test cards in Flutterwave React native package"
Please I can try to test flutter wave payment in my mobile app. However,I am unable to do so since I am not using a payment link with the flutter wave-react-native package. I would be grateful if you could help me out.
Sincerely,
Denis Mbey Akola

[2021-09-08 10:34] AnthonyFugi opened #36 "modal not opening"
Require cycles are allowed, but can result in uninitialized values. Consider refactoring to remove the need for a cycle.
PayWithFlutterwaveBase@http://localhost:8081/index.bundle?platform=ios&dev=true&minify=false:138320:50
PayWithFlutterwave@http://localhost:8081/index.bundle?platform=ios&dev=true&minify=false:138049:21
RCTView

[2021-09-08 12:47] AnthonyFugi commented on #36
Thankm God it worked!
It seems the email field is required:
in options: customer: {
            name: `**********************`,
            email: '******************',
          },

And you cannot just go with name alone!

[2021-09-08 12:47] #36 closed

[2021-09-09 21:38] ththugues44 opened #37 "How to have mobile money as the default interface ?"
Hello

I am having a problem for some currency like XAF or GHS or XOF. I would like the mobile money interface to be by default but it is still the card payment interface that is displayed even though I configure the payment_options parameter to mobilemoney

What to do so that the default interface is mobile money because so far the only way I can find is to deactivate card payment from the settin

[2021-09-21 08:48] thecodecafe commented on #37
Hi @ththugues44, sorry to hear you're experiencing this, please log in and go to `Settings -> Account settings` on your account with the flutterwave web app and ensure `Enable Dashboard Payment Options` is not checked, then configure your payment option on the SDK and try again. Let me know if this solves your problem.

[2021-09-21 08:52] thecodecafe commented on #35
Hi @Akola-Mbey-Denis, can you help confirm the following:
1. You are using test cards from the Flutterwave developer documentation. [https://developer.flutterwave.com/docs/test-cards](https://developer.flutterwave.com/docs/test-cards)?
2. Your account is in test mode while you are running the test?
3. You are using the test public key from your account?
Let me know if you've met all these criteria

[2021-09-21 08:53] thecodecafe commented on #34
Hi @Obhenimen, is this still an issue you're experiencing?

[2021-09-21 08:54] thecodecafe commented on #33
Hi @Blac-Panda, thanks for this correction, we'll make changes to the documentation with respect to this.

[2021-11-22 12:33] #35 closed

[2021-12-13 20:04] georgeben opened #39 "onRedirect called twice"
I don't understand why on onRedirect is being called twice. Here's a snippet of my code.

[code]
Please what am I doing wrong?

[2021-12-13 20:04] georgeben opened #40 "onRedirect called twice"
I don't understand why on onRedirect is being called twice. Here's a snippet of my code.

[code]
Please what am I doing wrong?

[2021-12-15 13:11] lesley88 commented on #7
hi, @thecodecafe am experiencing the same. All seemed fine at first until I tried adding customization props under options.
Code

`
<PayWithFlutterwave
  onRedirect={handleOnRedirect}
  options={{
    tx_ref: reference_generator,
    authorization: 'Public_api',
    customer: {
      email: 'customer@email.com',
    },
    amount: 2000,
    currency: 'NGN',
    payment_options: 'card',
    //start

[2021-12-15 13:22] #30 closed

[2021-12-15 13:22] #32 closed

[2021-12-15 13:32] thecodecafe commented on #40
Hi @georgeben, we will look into this but for now, can you look into debouncing your redirect handler?

First within your component, before the `handleRedirect` method, do the following.
[code]
Then in your `handleRedirect` do the following.

[code]
Let me know if this helps.

[2021-12-15 13:32] thecodecafe commented on #39
Duplicate of https://github.com/Flutterwave/flutterwave-react-native/issues/40

[2021-12-15 13:32] #39 closed

[2021-12-17 09:05] georgeben commented on #40
Thank you @thecodecafe I was able to get it working.

[2022-01-17 10:27] habeebtheprogrammer commented on #40
This issue has cost us alot of money.

[2022-02-03 12:29] Ayobamiu commented on #15
I am having the same issue

[2022-02-15 19:35] Pelps12 commented on #22
I also got this issue when using the test cards

[2022-02-17 07:41] Ayobamiu commented on #8
I'm facing the same issue here, it redirects once on iOS devices but twice on Android. @Jaybee4real kindly confirm this.

[2022-02-23 19:28] papidb commented on #26
Use the most recent react-native-webview or just add "^" to the package

[2022-02-27 09:06] iykeprince commented on #22
I am currently getting this error and  i am using a test card, what could be causing it? and solution?
Thanks

[2022-02-28 03:15] Pelps12 commented on #22
Check the body of your transaction it may be incomplete but flutterwave doesn’t mark it as required. For example, I forgot to add the payment options field

[2022-03-07 01:20] ONUOHA92 opened #42 "checkout is not working"

[2022-03-07 01:21] ONUOHA92 commented on #42
when paywithflutterwave is click nothing shows

[2022-03-07 09:44] thecodecafe commented on #42
Hi @ONUOHA92, apologies you're experiencing this, please can you provide a code snippet of your implementation? Please remember to remove your public keys when sharing.
Thanks.

[2022-03-07 09:46] thecodecafe commented on #40
@habeebtheprogrammer apologies for this, we'll do our best to avert issues like this in the future, please can you try the solution [here](https://github.com/Flutterwave/flutterwave-react-native/issues/40#issuecomment-994794702)?

[2022-03-07 09:47] thecodecafe commented on #40
I'll be closing this issue for now but feel free to open the issue again should in case the [solution proffered above](https://github.com/Flutterwave/flutterwave-react-native/issues/40#issuecomment-994794702) does not solve your problem.

[2022-03-07 09:47] #40 closed

[2022-03-07 09:48] #25 closed

[2022-03-07 09:55] thecodecafe commented on #34
@Obhenimen closing this due to in activity, feel free to open again if this ever comes up.

[2022-03-07 09:55] #34 closed

[2022-03-30 11:17] sheggietyn opened #44 "This Package need to be Archived, doesn't work at all"
You should consider shutting down this package cause it doesn't work at all, tried all the usage steps, just keep crashing my app, the funniest thing is that the payment gateway flutter wave us  not even loading at all

[2022-03-30 11:36] pallavbansal commented on #42
i am trying to implement this library in my react native project but it show error that one or more required parameter missing @ONUOHA92 can you help me in this?

thanks in advance.

[2022-04-09 08:59] Goldtek commented on #44
this package doesnt work

[2022-04-10 10:36] Goldtek opened #45 "How to make payment to subaccount"

[2022-04-12 09:37] thecodecafe commented on #45
Hi @Goldtek, to pay to a sub-account you can pass your sub-accounts to the PayWithFlutterwave component like so.
[code]
Prior to this, you would have already created your sub-accounts using the API or SDK, find [information about that here](https://developer.flutterwave.com/docs/collecting-payments/split-payments#creating-subaccounts).

You can also find out more about [using sub-accounts here](ht

[2022-04-12 09:38] thecodecafe commented on #42
Hi @pallavbansal, can you share your implementation of `PayWithFlutterwave`, I can help you out?

[2022-04-12 09:50] thecodecafe commented on #22
Hi, we'll do well to make sure proper checks are done for the properties on the individual fields on the PayWithFlutterwave component, normally you would see a prop-types warning message when calling the component if you didn't pass a required field, if you do not see the message please [use this table as a guide](https://github.com/Flutterwave/flutterwave-react-native#flutterwaveinitoptions) to k

[2022-04-12 09:50] #22 closed

[2022-04-29 21:35] Benjamin3443 opened #46 "Improve the documentation"
This is literally the worst documentation I have ever read.

The most annoying part of this documentation is including functions that are not defined eg:
The onPress function in the custom button
The usePaymentLink and displayError functions in FlutterwaveInit

Also there literally no explanation on how to use   FlutterwaveInit with PayWithFlutterwave, very terrible

[2022-05-11 16:37] 16isaac89 opened #47 "I am having issues requesting a payment link."
Below is how i implemented the code using axios
 axios.post('https://api.flutterwave.com/v3/payments', {
            headers: {
                Authorization: "Bearer FLWSECK_TEST-"
            },
            json: {
                tx_ref: "hooli-tx-1920bbtytty",
                amount: "100",
                currency: "NGN",
                redirect_url: "https://webhook.site/9d0b00ba-9a69-44fa-

[2022-05-15 11:23] juniorkibirige opened #48 "val.replace is not a function - On cards"
I also got this issue when using the test cards

_Originally posted by @Pelps12 in https://github.com/Flutterwave/flutterwave-react-native/issues/22#issuecomment-1040706792_
![issue error image](https://photos.app.goo.gl/kKweykAKQRUYWyJP7)

[2022-05-15 11:25] juniorkibirige commented on #48
@thecodecafe @devifeoma @kpose @Official-kornelios this is urgent

[2022-05-15 20:37] Pelps12 commented on #48
Check your mail. There are currently issues with test cards. They are trying to restore the issue.

[2022-05-17 00:03] Corvus97 commented on #48
Hello @Pelps12 ,
There is no issue with the test cards. The emails sent out yesterday were regarding the maintenance on our virtual cards service.

@juniorkibirige You are getting the error message because there is an error in the payload you are sending. Please share how you are initialising payment to enable us to resolve this.

[2022-05-17 00:06] Corvus97 commented on #46
Hello @Benjamin3443,

Thank you for sharing this feedback. Kindly share more specifics on how we can improve the docs or what sections need review. We are looking forward to your reply.

[2022-05-17 00:11] Corvus97 commented on #47
Hello @16isaac89 👋🏾,

Thank you for sharing your experience with the team.

We are closing this issue out because it is not related to the react-native package. Kindly send us an email at developers@fluuterwavego.com or share on our [forum](forum.flutterwave.com).

We would be on the lookout for your email/message.

[2022-05-17 00:11] #47 closed

[2022-05-17 09:02] thecodecafe commented on #44
Hi @sheggietyn @Goldtek  @MuhammadUmar474,  sorry to hear you're having a hard time with the library, will be testing this now.

[2022-05-17 11:10] thecodecafe commented on #44
Hi @sheggietyn @Goldtek @MuhammadUmar474, I've been unable to reproduce your problem, can you please help provide the following so I can further diagnose your issue?
- Your version of react-native.
- Your version of webview that is installed.
- The error you are receiving.
- A sample code of your implementation (please remember to remove your public keys).

Will be on the lookout for these.
Thanks

[2022-05-17 11:12] thecodecafe commented on #26
Hi @joegichuru did the webview version upgrade resolve your issue?

[2022-05-17 11:12] Goldtek commented on #44
So the issue is once a payment is initialized for some reason, you couldn’t
complete the payment if you try ilmaking another payment what reflects is
the old price that was initialized.

On Tue, 17 May 2022 at 12:11 PM, thecodecafe ***@***.***>
wrote:

[2022-05-17 11:22] thecodecafe commented on #44
@Goldtek, all right, can you help share a code snippet of your implementation with how you change the amount after the first transaction?

[2022-05-17 11:28] Goldtek commented on #44
Ok will do that

On Tue, 17 May 2022 at 12:22 PM, thecodecafe ***@***.***>
wrote:

[2022-05-17 11:51] joegichuru commented on #26
Hi. Unfortunately we moved away from Flutterwave

joe gichuru

software engineer

________________________________
From: thecodecafe ***@***.***>
Sent: Tuesday, May 17, 2022 2:12 PM
To: Flutterwave/flutterwave-react-native ***@***.***>
Cc: joe gichuru ***@***.***>; Mention ***@***.***>
Subject: Re: [Flutterwave/flutterwave-react-native] Webview Issues (#26)

Hi @joegichuru<https://github.com/joegi

[2022-05-18 11:05] ththugues44 opened #49 "How to change the display language ?"
Good morning

I managed to integrate the payment API and make it work without too much difficulty, but I have a problem to know.
my customers are from French-speaking Africa and a lot of people don't speak English, so how can the payment process be in French?

very cordially

[2022-05-19 08:10] coucoseth opened #50 "Support for UGX react-native"
Currently UGX is not supported as a currency, it would be nice to have mobile money payments from uganda embedded

[2022-07-11 17:14] the-fanan commented on #22
Getting this response when passing metadata

[2022-08-22 14:17] Tobi2612 commented on #48
@Corvus97 I'm also encoutering this issue when I try to pass a nested object in the meta of the payload

[2022-08-24 10:20] emasys opened #51 "payment_options seems inconsequential"
Irrespective of the selected payment_options, the modal will still show all the payment options initially enabled on the Flutterwave dashboard.

Also, any random string can be passed as the payment option and the model will still pop up its default card option.

This is probably one for the Flutterwave team to chew on - Some people don't want to disable other payment options from the dashboard, be

[2022-08-26 14:47] wditechy opened #52 "Preload Card information"
Any options available to preload card informations?.

[2022-08-26 17:01] wditechy commented on #52
How to open a default payment option instead of card

[2022-08-29 06:47] jeya-lakshmi opened #53 "Unable to test the payment using bank account option"
As per our flow, In our App, when a user selects the payment option - "Bank account" from our UI, we want to load  Flutterwave payment gateway and allow the user to enter the bank account details for transactions. However, currently when we select the "Bank account" payment option, the Card mode Flutterwave gateway opens and by default the screen has card details input options alone for the user.

[2022-09-02 04:56] jeya-lakshmi commented on #53
Its very urgent, can you please reply to these issues

[2022-09-07 17:08] kabonKoda opened #54 "Support for web"
Please add support for web .... we do not need to install the react component when using this package

[2022-09-15 21:38] ayodeletim commented on #8
I am facing the same issue here

[2022-09-15 21:40] ayodeletim commented on #8
This happens especially if a payment has been made before and a user is making a second payment, the implementation calls twice, making three.

I don't know if this helps in figuring this out.

[2022-09-22 19:20] YoucefBen47 opened #56 "React Native package doesn't support same currencies as react package."
We are using flutterwave on both a React and React Native projects. The react native npm package seems to be behind in the versions. I see a fix for the currencies that is version 1.0.4 but the package is still on 1.0.2. Should manually use the files from the attached rar file with the fix or what ?

[2022-09-24 19:29] orimdominic commented on #48
I'm having the same issue with @Tobi2612
I'm guessing that FLW does not expect a nested object as the `meta` value

[2022-09-26 11:30] Corvus97 commented on #48
Hello @Tobi2612 @orimdominic, We do not support nested objects for Metas. Kindly review your request and retry the charge attempt.

[2022-10-10 09:45] syntaxPriest opened #57 "val.replace is not a function error on flutterwave card."
![Screenshot 2022-10-03 182827](https://user-images.githubusercontent.com/76406495/194838908-61166013-5c52-45b5-a5c6-89f94a6d8fa7.png)

I get this error for card payment on the flutterwave payment pop-up.

[2022-10-31 08:43] Oluwaturheeb commented on #7
I am also experiencing the same thing here
this is the code that i use.
`<PayWithFlutterwave
          onRedirect={param => console.log(param)}
          options={{
            authorization: 'FLWPUBK_TEST-'
            tx_ref: ref(),
            amount: item.price,
            customer: user,
            currency: 'NGN',
            payment_options: 'card,banktransfer,ussd',
            customiza

[2022-11-04 05:51] proffnick opened #58 "Incomplete Transactions"
Transactions are not completing within the app. The package opens browser in a new window and never returns to the app after transaction completion. No transaction completion function is invoked and the payment hangs in tin-air for customer, please look into this.

[2022-11-13 16:06] Oluwaturheeb opened #59 "Blank payment modal on Android"
The `PayWithFlutterwave` component shows white modal and when i clicked anywhere inside the modal it brings up the keyboard.
i am testing on physical device on Android 7
`<PayWithFlutterwave
          onRedirect={param => console.log(param)}
          options={{
            authorization: 'FLWPUBK_TEST-3ffa62793f521b1e3134650390f7ea97-X',
            tx_ref: ref(),
            amount: 5000,

[2022-11-28 09:57] kpose commented on #57
Hi @syntaxPriest , apologies for the setback, you can now successfully make payment. Please do try again and revert if you encounter any other issue